/* site.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem; /* Adiciona espaço entre as seções */
}

.feature {
  flex: 1;
  margin: 0 1rem;
  text-align: center;
}

img {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto; /* Isso mantém a proporção da imagem */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem; /* Adiciona espaço entre a seção Contato e o rodapé */
}

.contact-container {
  text-align: center;
  margin-top: 5rem; /* Adiciona um espaço entre as seções */
}

/* Estilos responsivos */

@media only screen and (max-width: 768px) {
/* Ajusta o layout para telas menores */

.feature-container {
  flex-direction: column; /* Empilha as seções uma em cima da outra */
}

.feature {
  margin: 0; /* Remove a margem lateral */
  margin-bottom: 2rem; /* Adiciona espaço entre as seções */
}
}
